@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Mapbox-gl */
.my-popup .mapboxgl-popup-content {
  @apply p-0 bg-neutral-50 rounded-lg;
}
.mapboxgl-popup-content {
  min-height: 200px;
  border-radius: 30px;
}
.mapboxgl-popup-content header {
  @apply bg-gradient-to-r from-[#FF8001] to-[#feb47b] hover:from-[#2193b0] hover:to-[#6dd5ed] cursor-auto
  rounded-t-lg;
}
.mapboxgl-popup-content header h3 {
  @apply text-3xl font-sans font-semibold text-center text-neutral-50 p-3 tracking-wide;
}
.brewery-details-container {
  @apply flex flex-col justify-around items-start;
}
.brewery-detail {
  @apply flex flex-row justify-start items-center w-full hover:bg-slate-100 py-3 px-5 cursor-auto last:rounded-b-lg;
}

.brewery-detail-text {
  @apply pl-5 font-sans font-light text-xl tracking-wider;
}

.detail-icons {
  @apply h-6 text-[#FF8001];
}
/* Default state of like icons, switched in <LikeButton.jsx /> */
.like-icons-default {
  @apply h-6 text-neutral-300;
}

/*

react-datalist-input__listbox: For the dropdown list.
react-datalist-input__listbox-option: For each option in the dropdown list. */

/* For entire search/button div */
.search-with-buttons {
  display: flex;
  align-items: flex-end;
}

/* For the input element. */
.react-datalist-input__textbox .undefined {
  @apply text-xl;
}

/* For the container element. */
.total-searchbar {
  @apply ml-20 mr-20 text-3xl mx-auto;
}

/* For title */
.react-datalist-input__label {
  @apply text-xl;
}

/* For text inside bar. */
.total-searchbar input {
  @apply text-lg;
}

/* For dropdown */
.Search-bar-input {
  @apply text-xl;
}

.clear-search {
  @apply text-[#f05e5e] ml-3;
}

.set-current {
  @apply text-[#4f9fef] mr-3;
}
