@tailwind components;
@tailwind utilities;
@tailwind base;

/* All Brewer Pages */
.home-page {
  background-image: url('http://images.pexels.com/photos/10192663/pexels-photo-10192663.jpeg?auto=compress&cs=tinysrgb&w=1600');
  @apply flex p-10 flex-col h-screen bg-cover font-serif ;
}

/* Home Page */
.brewer-img {
  @apply w-full h-auto rounded-2xl border-[#f6f2f2b9] border-4;
}

.row {
  justify-content: space-evenly;
  @apply flex flex-row 
}
.left-side {
  width: 50%;
  align-items: center;
  @apply flex h-screen flex-col mt-10;
}

/* Info */
.brewer-contact {
  @apply border-t-slate-400 border-t-2 pt-2
}

.edit-button {
  @apply bg-gradient-to-r from-[#FF8001] to-[#feb47b]  text-neutral-100 text-2xl rounded-lg w-64 p-1 m-2 mt-8 text-center font-semibold
}

.info-container {
  @apply text-center mb-6 text-xl border-8 border-[#f6f2f2b9] text-[#1b252d] flex flex-row justify-start items-center bg-neutral-200 rounded-xl p-5;
}

.brewer-address {
  @apply mb-1 pb-1 text-[#1b252d];
}

/* Post */
.right-side {
  width: 50%
}

.post-caption {
  align-items: center;
  @apply  text-xl flex flex-row inline-flex text-center
}

.caption-input {
  @apply text-center h-16 w-9/12
}


/* Edit Form */
.image-upload {
  align-self: center;
  @apply bg-[#b5b5b5ac]  rounded-md p-5 m-5 text-center text-xl
}

.upload-button {
  @apply bg-gradient-to-r from-[#FF8001] to-[#feb47b] rounded-sm
}

.form-inputs {
  align-self: center;
 @apply  bg-[#b5b5b597] rounded-lg  m-5 text-xl p-8
}

input {
  @apply rounded-md bg-[#f6f2f2d9]  mt-2 mb-4 p-2
}

.submit-button {
  @apply bg-gradient-to-r from-[#FF8001] to-[#feb47b] 
  ml-96 text-neutral-100 text-2xl rounded-lg w-32 p-1 m-2 mt-8 text-center font-semibold
}
form div {
  text-align: -webkit-center;
}

form label {
  @apply text-2xl 
}