@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .page {
    @apply flex p-8
  }

/* ---- Left Side */
  .brewery-image {
    @apply flex
  }
  .brewery-img {
    @apply w-full h-auto
  }
  .brewery-title {
    @apply text-[#FF8001] text-5xl
  }
  .left-side {
    width: 40%;
    align-items: center;
    @apply flex h-screen flex-col mt-10
  }


/* ----  Right Side */
  .right-side {
    width: 50%;
    @apply flex flex-col h-screen
  }
  
  .info-container {
    @apply text-center text-xl border-4 p-5 rounded-sm text-[#FF8001] flex flex-row justify-start items-center hover:bg-slate-100 py-3 px-5 last:rounded-b-lg;
  }

  .brewery-title {
    @apply font-bold text-5xl text-center m-3
  }

  .brewery-address {
    @apply p-3
  }

/* ---- Post */
  .post-container {
    @apply flex relative
  }

  .post {
    @apply flex items-center content-center m-1
  }
  
  .post-img {
    justify-content: center;
    @apply flex h-80 w-80
  }

  .post-img img {
    object-fit: contain;
    align-items: center;
    @apply flex w-auto m-1 
  }

  .post-caption {
    @apply flex text-2xl font-normal m-3 
  }

  .post-date {
    @apply flex font-extralight text-base 
  }

  .post-likes {
    @apply flex font-normal text-xl m-2
  }
  .post-content {
    @apply flex text-center border-4 p-2 m-2 rounded-sm text-[#FF8001] flex flex-col justify-start items-center py-3 px-5 w-64;
  }
}