@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .page {
    @apply flex p-8
  }

/* ---- Left Side */
  .brewery-image {
    @apply flex
  }
  .brewery-img {
    @apply w-full h-auto rounded-lg
  }
  .brewery-title {
    @apply font-bold text-[#FF8001]
  }
  .left-side {
    width: 40%;
    align-items: center;
    @apply flex h-screen flex-col mt-10
  }


/* ----  Right Side */
  .right-side {
    width: 50%;
    @apply flex flex-col h-screen
  }
  
  .info-container {
    @apply text-center text-xl border-4 p-5 rounded-xl text-[#FF8001] flex flex-row justify-start items-center hover:bg-slate-100 py-3 px-5 last:rounded-b-lg;
  }

  .brewery-title {
    @apply font-bold text-5xl text-center 
  }

  .brewery-address {
    @apply text-lg 
  }

/* ---- Post */
  .post {
    @apply items-center flex content-center
  }

  .post-img {
    @apply h-60 w-60 rounded-lg
  }

  .post-img img {
    object-fit: cover;
    @apply w-auto h-auto rounded-lg
  }

  .post-caption {
    @apply font-thin text-3xl
  }

  .post-date {
    @apply font-extralight text-base
  }

  .post-likes {
    @apply font-thin text-xl
  }
  .post-content {
    @apply text-center border-4 p-2 m-3 rounded-xl text-[#FF8001] flex flex-col justify-start items-center py-3 px-5 w-10;
  }
}